<div class="modal-header">
	<h4>Lamentable error de programación</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<div align="center">
			<i class="fa fa-bug fa-5x red"></i>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button id="btn-cancelar" type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#modal').data('bs.modal',false);">Aceptar</button>
</div>