{% load static %}
{% load render_menu %}
<!DOCTYPE html>
<html lang="en">
	<head>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{{ page_title }}</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{% static 'ace_admin/assets/css/bootstrap.css' %}" />
		{% block head_extra %}
		{% endblock %}
	</head>

	<body class="no-skin">
		{% block page-content %}
		{% endblock %}
		{% block javascript %}
		{% endblock %}
		{% block body_extra %}
		{% endblock %}
	</body>