{% load static %}
{% load render_menu %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{{ page_title }}</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{% static 'ace_admin/assets/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'ace_admin/assets/css/font-awesome-4.5.0/css/font-awesome.min.css' %}" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="{% static 'ace_admin/assets/css/ace-fonts.css' %}" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{% static 'ace_admin/assets/css/ace.css' %}" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="{% static 'ace_admin/assets/css/ace-part2.css' %}" class="ace-main-stylesheet" />
		<![endif]-->

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="{% static 'ace_admin/assets/css/ace-ie.css' %}" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="{% static 'ace_admin/assets/js/ace-extra.js' %}"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="{% static 'ace_admin/assets/js/html5shiv.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/respond.js' %}"></script>
		<![endif]-->

		<!-- jQuery -->
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{% static 'ace_admin/assets/js/jquery.js' %}'>"+"<"+"/script>");
		</script>
		<!-- <![endif]-->
		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='{% static 'ace_admin/assets/js/jquery1x.js' %}'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{% static 'ace_admin/assets/js/jquery.mobile.custom.js' %}'>"+"<"+"/script>");
		</script>
		<!-- End jQuery -->
		{% endblock %}
		{% block head_extra %}
		{% endblock %}
	</head>
	{% block body %}
	<body class="no-skin">
		<!-- #section:basics/navbar.layout -->
		<div id="navbar" class="navbar navbar-default" style="background:none repeat scroll 0% 0% #51A8DE">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container" >
				<!-- #section:basics/sidebar.mobile.toggle -->
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>
				<!-- /section:basics/sidebar.mobile.toggle -->	
				{% block navbar-header %}			
				<div class="navbar-header pull-left">
					<!-- #section:basics/navbar.layout.brand -->
					<a href="/" class="navbar-brand">
						<h2 style="color:#000">
						<div style="float:left">
							<img src="{% static 'custom_files/logo.png' %}" /> 
						</div>
						<div style="float:left;margin:15px">
						GENERIC VIEW BASE<br />
						<span style="font-size:11px">Plantilla Base de Generic Views</span>
						</div>
						</h2>

					</a>

					<!-- /section:basics/navbar.layout.brand -->

					<!-- #section:basics/navbar.toggle -->

					<!-- /section:basics/navbar.toggle -->
				</div>
				{% endblock %}
				<!-- #section:basics/navbar.dropdown -->
				{% block user_menu%}
				{% include "generic_views/user_menu.html" %}
				{% endblock %}

				<!-- /section:basics/navbar.dropdown -->
			</div><!-- /.navbar-container -->
		</div>

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			{% block sidebar %}
			{% render_menu "left_menu" %}
			{% endblock %}
			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					{% block breadcrumbs %}
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="/">Home</a>
							</li>
							{% for b in breadcrums %}
							{% if b == breadcrum_active %}
							<li class="active">
									{{b.label}}
							</li>
							{% else %}
							<li>
								{% if b.url %}
								<a href="{{b.ur}}">
								{% endif %}	
									{{b.label}}
								{% if b.url %}
								</a>
								{% endif %}	
							</li>
							{% endif %}
							{% endfor %}
						</ul><!-- /.breadcrumb -->

						<!-- #section:basics/content.searchbox -->
						<!--
						<div class="nav-search" id="general-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div>
					-->

						<!-- /.nav-search -->

						<!-- /section:basics/content.searchbox -->
					</div>
					{% endblock %}
					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<!-- #section:settings.box -->
						{%block page-header%}
						<div class="page-header">
							<h1>
								{{page_title}}
								{%if page_subtitle %}
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									{{page_subtitle}}
								</small>
								{% endif %}
							</h1>
						</div>
						{%endblock%}
						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								{% block page-content %}
								{% endblock %}
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->
					<div class="footer-content">
						<span class="bigger-120">
						Desarrollo
							<span class="blue bolder">Fernando Hidalgo</span>
							 2017
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="https://twitter.com/barct">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="https://www.facebook.com/barct/">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>
						</span>
					</div>

					<!-- /section:basics/footer -->
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		{% include "generic_views/basic_scripts.html" %}

		<!-- inline scripts related to this page -->
		{% block javascript %}
		{% endblock %}

		{% block body_extra %}
		{% endblock %}

	</body>
	{% endblock %}
</html>
