{% load static %}
		<!-- basic scripts -->
		<script src="{% static 'ace_admin/assets/js/bootstrap.js' %}"></script>

		<!-- page specific plugin scripts -->
		<script src="{% static 'ace_admin/assets/js/bootbox.js' %}"></script>

		<!-- ace scripts -->
		<script src="{% static 'ace_admin/assets/js/jquery.autosize.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/elements.scroller.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/elements.colorpicker.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/date-time/bootstrap-datepicker.js' %}"></script>

		<script src="{% static 'ace_admin/assets/js/ace/elements.fileinput.js' %}"></script>
		
		<script src="{% static 'ace_admin/assets/js/ace/elements.wysiwyg.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/elements.spinner.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/elements.treeview.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/elements.wizard.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/elements.aside.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/ace.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/ace.ajax-content.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/ace.touch-drag.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/ace.sidebar.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/ace.sidebar-scroll-1.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/ace.submenu-hover.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/ace.widget-box.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/ace.settings.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/ace.settings-rtl.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/ace.settings-skin.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/ace.widget-on-reload.js' %}"></script>
		<script src="{% static 'ace_admin/assets/js/ace/ace.searchbox-autocomplete.js' %}"></script>
		<script src="{% static 'generic_views/dialogs.js' %}"></script>