<div class="modal-header">
	<h4>{{verbose_name}}</h4>
</div>
<div class="modal-body">
	<form  id="{{model_name}}_form_delete" class="form-horizontal"  method="post"  action="{{request.path}}">
		{% csrf_token %}
		<p>Confirmar eliminación de:</p>
		<input type="hidden" name="pk" value="{{object.id}}" />
		<div class="red">
			<i class="ace-icon fa fa-trash fa-2x"></i> <strong>{{ object }}</strong>
		</div>
		{% if protected %}
		<div class="alert alert-danger">
			<p><i class="ace-icon fa fa-times fa-2x"></i> No se puede elimiar éste registro debido a que contiene elementos relacionados</p>
			<ul>
				{{ protected|unordered_list }}
			</ul>
		</div>
	{% else %}
		<div class="alert alert-warning">
			<p>Luego de esta operación se perderán los datos de:</p>
			<ul>
				{{ to_delete|unordered_list }}
			</ul>
		</div>
		{% endif %}
	</form>
</div>
<div class="modal-footer">
	{% if not protected %}
	<button type="button" class="btn btn-default" data-dismiss="modal" onclick="get_form_submit($('#{{model_name}}_form_delete'));">Aceptar</button>
	{% endif %}
	<button id="btn-cancelar" type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#modal').data('bs.modal',false);">Cancelar</button>
</div>