{% load static %}
<div class="modal-header">
  <h4>{{title}}</h4>
</div>

<div class="modal-body">
	<div class="alert alert-danger">
		{{description|safe}}
	</div>
</div>
<div class="modal-footer">
   <button id="btn-cancelar" type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#modal').data('bs.modal',false);">Visto</button>
</div>
<script type="text/javascript" src="{% static 'generic_views/widgets_init.js' %}">
</script>