<div class="modal-header">
  <h4>Mensaje de Sistema</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">
					<i class="ace-icon fa fa-times"></i>
				</button>
				<strong>
					<i class="ace-icon fa fa-times"></i>
					{{title}}
				</strong>
				{{msg}}
				<br>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button id="btn-cancelar" type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#modal').data('bs.modal',false);">Aceptar</button>
</div>