{% load generic_views_tags %}
<div class="row">
<span class="col-xs-12 col-sm-12">
	<span class="help-inline label label-success arrowed-right">
		{{field.verbose_name}}
	</span>
</span>
<span class="help-inline col-xs-12 col-sm-12">



	 <div class="row">
		<div class="col-sm-4">
		  <div class="form-group">
			<input type="input" class="form-control" id="filter_field_tree_{{ field.name }}_input-check-node" placeholder="Buscar" value="">
			<button type="button" class="btn btn-primary btn-xs check-node" id="filter_field_tree_{{ field.name }}_btn-toggle-checked"><i class="ace-icon fa fa-filter" ></i></button>
			 <button type="button" class="btn btn-danger btn-xs" id="filter_field_tree_{{ field.name }}_btn-uncheck-all"><i class="ace-icon fa fa-times-circle" ></i></button>
		  </div>
		  <div class="form-group">
			<div id="filter_field_tree_{{ field.name }}_search-output"></div>
		  </div>
		  <div class="form-group">
			<div id="filter_field_tree_{{ field.name }}_form_checkbox"></div>
		  </div>
		  <hr />
		  <button class="btn btn-info" type="button" onclick="this.form.submit()">
			<i class="ace-icon fa fa-check"></i>Filtrar
		  </button>
		</div>
		<div class="col-sm-8">
		  <div id="filter_field_tree_{{ field.name }}" class=""></div>
		</div>
	  </div>





</span>
<span class="help-inline col-xs-3 col-sm-3 pull-right">

</span>
</div>
		
