{% load l10n %}
<div class="row">
<span class="col-xs-12 col-sm-12">
	<span class="help-inline label label-success arrowed-right">
		{{field.verbose_name}}
	</span>
</span>
<span class="help-inline col-xs-12 col-sm-12">
{% for k,v in choices %}
	<span class="help-inline col-xs-3 col-sm-3">
	<label class="middle">
		<input class="ace" type="checkbox" name="filter_{{field.name}}" value="{{k|unlocalize}}">
		<span class="lbl"> {{v}}</span>
	</label>
	</span>
{% endfor %}
</span>
<span class="help-inline col-xs-3 col-sm-3 pull-right">
<button class="btn btn-info" type="button" onclick="this.form.submit()">
	<i class="ace-icon fa fa-check"></i>Filtrar
</button>
</span>
</div>