{% load generic_views_tags %}
{% load static %}
<div class="modal-header">
  {% block header %}
  <h4>{{verbose_name}}</h4>
  {% if description %}<p>{{description|safe}}</p>{% endif %}
  {% endblock %}
</div>

<div class="modal-body">
	<div class="row">
	{% block content %}
	<div class="col-xs-12">
			<form  id="{{model_name}}_form_add" class="form-horizontal" method="post" action="{{request.path}}">
			<div class="row">
				<div class="col-xs-12">
				{% csrf_token %}
				{% if form.non_field_errors %}		
				{% for error in form.non_field_errors %}

						<span class="badge badge-warning">
							<i class="ace-icon fa fa-times-circle white"></i> {{ error }}
						</span>

				{%endfor%}
				{% endif %}
				{% block extra_errors %}
				{% endblock %}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					{% block pre_fields %}
					{% endblock %}
					{% for field in form %}
					<div class="row">
						{%if field.errors %}
						<div class="col-xs-12">
							{%for error in field.errors %}
							<span class="badge badge-warning badge-left">
								<i class="ace-icon fa fa-times-circle white"></i> {{ error }}
							</span>
							{% endfor %}
						</div>
						{% endif %}
					</div>
					<div class="row">
						<div class="col-xs-4">
							{{field.label}}
						</div>
						<div class="col-xs-8">
							<span class="input-icon block">
							{{ field }}
							</span>
						</div>
					</div>
					{% endfor %}
					{% block post_fields %}
					{% endblock %}
				</div>
			</div>
			{{ formset }}
			</form>
		</div>	
	{% endblock %}
	</div>
</div>
<div class="modal-footer">
  {% block footer %}
  <button id="btn-aceptar" type="button" class="btn btn-default" onclick="return get_form_submit($('#{{model_name}}_form_add'), this);">Aceptar</button>
  <button id="btn-cancelar" type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#modal').data('bs.modal',false);">Cancelar</button>
  {% endblock %}
</div>
<script type="text/javascript" src="{% static 'generic_views/widgets_init.js' %}">
</script>