<div class="btn-group">
	<button data-toggle="dropdown" class="btn btn-success btn-minier dropdown-toggle" />
	<span class="ace-icon fa fa-caret-down icon-only"></span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right">
		{% for m in menu %}
		<li>
			<a href="{{ m.url }}">{{m.label}}</a>
		</li>
		{%endfor%}
	</ul>
</div>