{% extends "generic_views/base.html" %}
{% load generic_views_tags %}
{% load render_paginator %}
{% load static %}
{% block head_extra %}
	<script src="{% static 'generic_views/bootstrap-treeview-master/js/bootstrap-treeview.js' %}"></script>
	<script src="{% static 'generic_views/tree_view_config.js' %}"></script>	
{% endblock %}
{% block page-content %}
<div class="row">
	<div class="col-xs-12 dataTables_wrapper form-inline ">
	{% include "generic_views/tabledata_head.html" %}
		{% render_paginator 2 3 %} 
	</div>
	<div id="table_list" class="col-xs-12 dataTables_wrapper form-inline">
		{% include table_list_template_name %}
	</div>
	<div class="col-xs-12 dataTables_wrapper form-inline ">
		{% render_paginator 2 3 %} 
	</div>
</div>
{% endblock %}
	{% block javascript %}

	<script type="text/javascript">
	{% for field in fields_info.get_filter_fields_tree %}
	
	var tree_data_{{ field.name }} = {% render_tree_json field.propertys.tree_propertys.tree %};
	config_filter_field_tree('{{field.name}}',tree_data_{{field.name}});

	{% endfor %}

	</script>

	{% endblock %}

