{% extends "generic_views/base_blank.html" %}
{% load generic_views_tags %}
{% load render_paginator %}
{% load static %}
{% block page-content %}
<div class="row">
	<div id="table_list" class="col-xs-12 dataTables_wrapper form-inline">
		{% include table_list_template_name %}
	</div>
</div>
{% endblock %}
