{% load generic_views_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>{{page_title}}</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>
	<body>
		<table>
			<thead>
				<tr>
					{% for field in fields_info.list_display %}
					<th>
						{{field.verbose_name}}
					</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for obj in objects_list %}
				<tr>
					{% for field in fields_info.list_display %}
				<td>{% render_field obj field %}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>