{%load render_menu%}

<div id="sidebar" class="sidebar responsive">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>
	<ul class="nav nav-list">
		{% for m in menu %}
		{{m.url}}
		{% if m.show %}
		<li {%if m.active %} class="active" {% endif %}>
			<a href="{{m.url}}" class="dropdown-toggle">
				<i class="menu-icon {{m.icon|default_if_none:""}}"></i>
				<span class="menu-text"> {{m.label}}</span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>
			{% render_submenu m.menu path %}
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	<!-- #section:basics/sidebar.layout.minimize -->
	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>
</div>