	{% load generic_views_tags %}
	<div class="row">
		<!--
		<div class="col-xs-2">
			<div aria-live="polite" role="status" id="dynamic-table_info" class="dataTables_info">Registros {{objects_page.start_index}} al {{objects_page.end_index}} de {{paginator.count}}</div>
		</div>
		-->
		
		<div class="col-xs-3">
			<div class="dataTables_length">
				<form action="?{% render_url_params %}">
				<label>Mostrar <select class="form-control input-sm" name="page_size" onchange="javascript:this.form.submit()">
					{%for size in page_sizes %}
					<option value="{{size}}" {% if size == paginator.per_page %} selected="selected" {%endif%}>
						{{size}}
					</option>
					{% endfor %}
				</select> registros</label>
				{% render_url_params "" "as_hidden_input" %}
				</form>
			</div>
		</div>
		<div class="col-xs-9">
			<div id="dynamic-table_paginate" class="dataTables_paginate paging_simple_numbers">
				<ul class="pagination">
					
					<li id="dynamic-table_previous" tabindex="0" aria-controls="dynamic-table" class="paginate_button previous {% if not objects_page.has_previous %}disabled{% endif %}">
						{% if objects_page.has_previous %}
						<a href="?{% render_url_params 'page={{ objects_page.previous_page_number }}' %}">Pag. Ant.</a>
						{% endif %}
					</li>
					
					{% for page in page_numbers %}
						{% if page %}
							{% if page == objects_page.number %}
								<li tabindex="0" aria-controls="dynamic-table" class="paginate_button active">
									<a href="#">{{page}}</a>
								</li>
							{% else %}
								
								<li tabindex="0" aria-controls="dynamic-table" class="paginate_button ">
									<a href="?{% render_url_params 'page={{page}}' %}">{{page}}</a>
								</li>
							{% endif %}
						{% else %}
								<li tabindex="0" aria-controls="dynamic-table" class="paginate_button ">
									<a href="#">...</a>
								</li>
						{% endif %}
					{% endfor %}
					
					<li id="dynamic-table_next" tabindex="0" aria-controls="dynamic-table" class="paginate_button next {% if not objects_page.has_next %}disabled{% endif %}">
						{% if objects_page.has_next %}
						<a href="?{% render_url_params 'page={{ objects_page.next_page_number }}' %}">Pag. Sig.</a>
						{% endif %}
					</li>
					
				</ul>
			</div>
		</div>
	</div>