{% load render_menu %}
<ul class="submenu">
	{% for m in menu %}
		{% if m.show %}
		<li {%if m.active %} class="active" {% endif %}>
			<a href="{{m.url}}" {% if m.menu %}  class="dropdown-toggle" {%endif%}>
				<i class="menu-icon fa fa-caret-right"></i>
				{{m.label}}
			</a>
			{% if m.menu|length > 0 %}
			<b class="arrow"></b>
			{% render_submenu m.menu path %}
			{%endif%}
		</li>
		{%endif%}
	{% endfor %}
</ul>
