{% load generic_views_tags %}
		<div class="row">
			<div class="col-xs-11">

										<div class="widget-box {% if original_count != show_count %} widget-color-orange {% endif %}collapsed ui-sortable-handle">
											<!-- #section:custom/widget-box.options.collapsed -->
											<div class="widget-header widget-header-small">
												
												<h6 class="widget-title">
													<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-sort"></i>
													</a>
													{% if original_count == show_count %}
													{{show_count}} registros
													{% else %}
													{{show_count}} registros de {{original_count}} ({{filter_count}} filtrados)
													<a href="?"><i class="ace-icon fa fa-refresh"></i> Quitar Filtro</a>
													{% endif %}
													
												</h6>
												<div class="widget-toolbar">
													{%if has_search %}
													<a href="#">
														<form action="" id="search_form">
															<input placeholder="Búsqueda ..." class="nav-search-input" id="nav-search-input" autocomplete="off" type="text" name="search" style="height:24px;font-size:12px;padding-top:0px;padding-bottom:0px" value="{{search|default:""}}">
															<i class="ace-icon fa fa-search nav-search-icon" onclick="$('#search_form').submit()"></i>
														
														</form>
													</a>
													{% endif %}

													
													<a href="?{% render_url_params 'export=print' %}">
														<i class="ace-icon fa fa-print"></i>
													</a>
													{%if show_count < 25000 %}
													<a title="exportar a planilla de cáclulo" href="?{% render_url_params 'export=ods' %}">
													{% else %}
													<a title="exportar a planilla de cáclulo" href="#" onclick="javascript:alert('Por cuestiones de seguridad, no se pueden descargar más de 25.000 registros');">
													{% endif %}
														<i class="ace-icon fa fa-download "></i>
													</a>
												</div>
											</div>

											<!-- /section:custom/widget-box.options.collapsed -->
											<div class="widget-body">
												<div class="widget-main">
													<form action="" method="GET">
													{% for field in fields_info.filter_fields %}
															{% render_filter_field field %}
													{% endfor %}
													</form>
												</div>
											</div>
										</div>

			</div>
			<div class="modal fade in" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
				</div>
			  </div>
			</div>
		</div>
