{% load generic_views_tags %}
{% load render_paginator %}
{% block page-content %}
<table id="simple-table" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>{% if permissions.delete %}
			<td style="width:30px">&nbsp;</td>
			{% endif %}
			{% for field in fields_info.list_display %}
			<td nowrap>
				{% if field.order == "-" %}<i class="ace-icon fa fa-sort-up" style="color:#F00"></i>{% endif %}
				{% if order_by|length > 0 and field.order == None %}
				<a href="?{% render_url_params 'order={{keep_url.order}}|{{field.name}}&order_type={{field.order}}' %}">
					<i class="ace-icon fa fa-sort-up"></i>
				</a>
				{% endif %}
				<a href="?{% render_url_params 'order={{field.order}}{{field.name}}' %}">
					{{field.verbose_name}}
				</a>
				{% if field.order == "" %}<i class="ace-icon fa fa-sort-down" style="color:#F00"></i>{% endif %}
				{% if order_by|length > 0 and field.order == None %}
				<a href="?{% render_url_params 'order={{keep_url.order}}|-{{field.name}}&order_type={{field.order}}' %}">
					<i class="ace-icon fa fa-sort-down"></i>
				</a>
				{% endif %}
			</td>
			{% endfor %}
			{% if permissions.create or permissions.update or permissions.delete %}
			<td style="width:60px">
				{% if permissions.create %}
				{% render_link create_view obj%}
				{% endif %}
			</td>
			{% endif %}
			{% if not list_view.get_inline_menu == None%}
			<td>
			</td>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for obj in objects_page %}
		<tr>
			{% if permissions.delete %}
			<td style="width:30px">
				<input type="checkbox" name="sel" value="{{obj.pk}}"/>
			</td>
			{% endif %}
			
			{% for field in fields_info.list_display %}
			<td>{% render_field obj field %}</td>
			{% endfor %}
			{% if permissions.create or permissions.update or permissions.delete %}
			<td nowrap>
				{% if permissions.update %}
				{% render_link update_view obj%}
				{% endif %}
				{% if permissions.delete %}
				{% render_link delete_view obj%}
				{% endif %}
			</td>
			{% endif %}
			{% if not list_view.get_inline_menu == None%}
			<td>
			 {% render_inline_menu list_view=list_view obj=obj %}
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}