			{% if user.is_authenticated %}
				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

						<!-- #section:basics/navbar.user_menu -->
						<li class="green" >
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<i class="ace-icon fa fa-user fa-3x"></i>								
								<span class="user-info">
									<small>Hola,</small>
									{{user.last_name}}, {{user.first_name}}
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								{% if user.is_staff %}
								<li>
									<a href="{% url 'admin:index' %}">
										<i class="ace-icon fa fa-cog"></i>
										Configuración Avanzada
									</a>
								</li>
								{% endif %}
								<li>
									<a href="{% url 'accounts:profile' %}">
										<i class="ace-icon fa fa-user"></i>
										Profile
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="{% url 'accounts:login' %}?logout=true">
										<i class="ace-icon fa fa-power-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>

						<!-- /section:basics/navbar.user_menu -->
					</ul>
				</div>
				{% else %}
				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

						<!-- #section:basics/navbar.user_menu -->
						<li class="green" >
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<i class="ace-icon fa fa-user fa-3x"></i>								
								<span class="user-info">
									<small>Hola, Visitnte</small>
									
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="{% url 'accounts:login' %}">
										<i class="ace-icon fa fa-user"></i>
										Login
									</a>
								</li>
							</ul>
						</li>

						<!-- /section:basics/navbar.user_menu -->
					</ul>
				</div>
				{% endif %}