<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
</script>
<div id="sidebar" class="sidebar responsive">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>
	<ul class="nav nav-list">
		{% for sm in menu.submenu_iterator %}
		{% if sm.visible %}
		<li {%if sm.active %} class="active" {% endif %}>
		<a href="{{sm.url|default_if_none:'#'}}" {% if sm.has_childs %} class="dropdown-toggle"{%endif%}>
			<i class="menu-icon fa {{sm.icon|default_if_none:""}}"></i>
			<span class="menu-text"> {{sm.label}}</span>
			{% if sm.has_childs %}
			<b class="arrow fa fa-angle-down"></b>
			{% endif %}
		</a>
		{% if sm.has_childs %}
		{% include "generic_views/menu/left_menu_ul.html" with menu=sm %}
		{% endif %}
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	<!-- #section:basics/sidebar.layout.minimize -->
	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>
</div>