
				{% if menu.visible %}
				<li {%if menu.active %} class="active" {% endif %}>
					<a href="{{menu.url}}" {% if menu.has_childs %}  class="dropdown-toggle" {%endif%}>
						<i class="menu-icon fa fa-caret-right"></i>
						{{menu.label}}
					</a>
					{% if menu.has_childs %}
					<b class="arrow"></b>
					{% include "generic_views/menu/left_menu_ul.html" with menu=sm %}
					{% endif %}
				</li>
				{% endif %}
